.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    @media screen and (max-width: 1000px) {
        height: 10vh;
    }

    .loading-icon {
        font-size: 5vh;
    }
}