.messages-container {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

        .message { 
            position: relative;
            overflow-x: hidden;
            background-color: $black1;
            padding: 2%;
            border-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 30px;
            margin-bottom: 2vh;
            max-width: 90%;

            @media screen and (max-width: 450px) {
                min-width: 50%;
            }
        }

        .message-name {
            color: $grey;
            margin-bottom: 1vh;
            text-decoration-line: underline;
        }

        .message-texte {
            background-color: $black3;
            padding: 0.5rem;
            border-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0px;

            @media screen and (max-width: 450px) {
                min-width: 10%;
            }
        }

        .message-texte p {
            margin-bottom: 1vh;
        }

        p {
            word-wrap:break-word;
            white-space: inherit;
        }

        .icon-delete, .icon-delete-mobile {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $color1;
            cursor: pointer;
        }

        .delete-container {
            display: none;
        }

        .delete-mobile-container {
            display: none;

            @media screen and (max-width: 1000px) {
                display: flex;
            }

            .delete-mobile-container2 {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                margin-top: 1vh;
                color: $color1;

                .icon-delete-mobile2 {
                    margin-left: 1vw;
                }
            }
        }

        .message:hover > .delete-container {
            display: flex;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }

        //Commentaires des postes

        .comment {
            background-color: $black2;
            margin-top: 2vh;
        }

        .icon-comment {
            margin-top: 2vh;
            margin-left: 2vh;
            color: $color1;
            margin-right: 0.5rem;
        }

        .icon-comment-link {
            margin-left: 1rem;
            color: $color1;
        }

        .NoSee {
            display: none;
        }
        
        a {
            color: $white;
            text-decoration: none;
            height: fit-content;
        }
}