.charactersDetails{
    section {
        padding-left: 2%;
        padding-right: 2%;
        
        @media screen and (max-width: 800px) {
            padding-left: 0%;
            padding-right: 0%;
        }
    }

    //Fin de la base

    button {
        border-radius: 100%;
        padding: 0.3%;
        font-size: 20px;
        margin-top: 5vh;
    }

    //début de la mise en page de l'item

    .details-container {
        display: flex;
        margin-top: 5vh;
        flex-direction: row;
        width: 100%;
    }

    .details-img {
        height: 25vh;
        object-fit: cover;
        border-radius: 20px;
    }

    .details-nom-age {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        justify-content: space-evenly;
    }

    .details-description-container {
        margin-top: 5vh;
    }

    h3 {
        text-decoration: underline;
        margin-bottom: 1vh;
    }

    .details-description p {
        margin-bottom: 3vh;
    }
        
}