.login {
    .discussion-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    //Fin de la base



    #img-post2 {
      height: 10px;
      width: 10px;
    }

 

    .message-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7vh;
        margin-left: 60%;
        font-size: 20px;

        @media screen and (max-width: 400px) {
          margin-left: 20%;
          width: max-content;
          margin-bottom: 2vh;
          margin-top: 3vh;
      }

        &:hover {
            cursor: pointer;
        }

        .icon-message {
            margin-right: 2%;
        }

        h3 {
            animation: coloar 30s alternate infinite;
        }

        @keyframes coloar {
            0% {
              color: $white;
            }
            50% {
              color: $color1;
            }
            100% {
              color: $white;
            }
          }
    }

}