.personnages {
    .background-img-2 {
        object-position: 45%;
    }

        //Fin de la base

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 5vh;
        }
}